@define-color fg #dcd7ba;
@define-color bg #1f1f28;

@define-color color0  #16161d;
@define-color color1  #c34043;
@define-color color2  #76946a;
@define-color color3  #c0a36e;
@define-color color4  #7e9cd8;
@define-color color5  #957fb8;
@define-color color6  #6a9589;
@define-color color7  #c8c093;

@define-color color8  #727169;
@define-color color9  #e82424;
@define-color color10 #98bb6c;
@define-color color11 #e6c384;
@define-color color12 #7fb4ca;
@define-color color13 #938aa9;
@define-color color14 #7aa89f;
@define-color color15 #dcd7ba;
