@import "colors.css";

* {
    font-family: "0xProto Nerd Font Propo", "Twemoji";
    font-size: 18px;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
}

#workspaces button {
    color: @fg;
    padding: 0 5px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    transition: none;
}

#workspaces button:hover {
    background-color: inherit;
    text-shadow: none;
}

#workspaces button:first-child {
    padding-left: 0;
}

#workspaces button:last-child {
    padding-right: 0;
}

#workspaces button.urgent {
    background-color: @color1;
}

.modules-left,
.modules-center,
.modules-right > widget > * {
    color: @fg;
    border: 2px solid @fg;
    background-color: @bg;
    border-radius: 15px;
    padding: 1px 10px;
    margin: 10px 5px 0 5px;
}

.modules-left,
.modules-center,
.modules-right > widget:first-child > * {
    margin-left: 10px;
}

.modules-left,
.modules-center,
.modules-right > widget:last-child > * {
    margin-right: 10px;
}

tooltip {
    border: 2px solid @fg;
    background-color: @bg;
    border-radius: 15px;
}

tooltip label {
    color: @fg;
}
